
.categoryul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.categoryItem{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.editContainer{
  width: 100%;
  display: flex;
  
}
.editInput{
  width: 70%;
  
}
.actionButtons{
  width: 80%;
  display: flex;
  
}
.categoryli {
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.2s ease;
  &:hover {
    background-color: #e9ecef;
  }
}

.selected {
  background-color: #d8fdcc;
  color: rgb(34, 35, 39);
  font-weight: bold;
}






