.SettingFrame {
  background: #e3e3e3;
  width: 75.5%;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;

}

.SettingFrame h2{
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.FullSettingFrame{
  display: flex;
  justify-content: center;
  align-items: center;

}
.whiteContainer{
  background: white;
  width: 90%;
  border-radius: 10px;
  min-height: 50vh;
}