.main-frame{
  border: 1px solid #000;
  width: 90%;
  margin: 0 auto;
}

.frame{
  display: flex;
  width: 100%;
  height: 90%;
  
}
.main-title {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  
}
