.Header {
  display: flex;
  width: 90%;
  border: 1px solid #000;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  margin: 0 auto;
}

.MainHeaderTitleContainer {
  display: flex; 
  align-items: center; 
}

.MainHeaderTitle {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.MainHeaderTitle li {
  margin-right: 10px; 
}

select {
  margin-left: 10px; 
}
