.header-nav {
  z-index: 10;
  width: 100%;
  padding: 0 20px; /* 좌우 패딩 추가 */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: right;

}
.header-nav img{

}

.nav-list {
  margin-right: 13.8%;
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: -6px;
}

.nav-item {
  width: 200px;
  height: 50px; /* 기본 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: -7px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
  text-decoration: none;

  /* 기존 사다리꼴 모양 유지 */
  clip-path: polygon(10% 10%, 90% 10%, 100% 100%, 0% 100%);
  border-top-left-radius: 53px; /* 왼쪽 위 모서리 둥글게 */
  border-top-right-radius: 53px; /* 오른쪽 위 모서리 둥글게 */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* 각 메뉴 색상 지정 */

.nav-item-0 { background-color: #F6D6D6; }  /* 일정 */
.nav-item-1 { background-color: #7BD3EA; }  /* 체크리스트 */
.nav-item-2 { background-color: #91dbac; }  /* 지출 */
.nav-item-3 { background-color: #e9ea93; }  /* 갤러리 */
.nav-item-4 { background-color: #b36ae7; }  /* 메모 */
.nav-item-5 { background-color: #a729dd; }  /* 설정 */

/* 호버 또는 활성화 상태일 때 위로 올라가면서 크기 증가 */
.nav-item:hover,
.nav-item.active {
  height: 70px;
  transform: translateY(-10px); /* 위로 살짝 올라감 */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .header-nav {
    width: 90%;
    padding-right: 0;
    justify-content: center;
  }

  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-item {
    width: 100px;
    height: 45px;
    font-size: 16px;
  }
}

/* 로고 사이즈 조절 */
.logo-size{
  margin-left: 15%;
  width: 65px;
  max-width: 100px;
  cursor: pointer;
}

