.full_container{
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8f8f8;


}

.title {
    font-size: 45px;
    text-align: center;
    color: white;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.diaryContainer{
    width: 90%;
    background: #F6F7C4;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
}