.photoList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
    padding: 20px;

}

.photoListContainer{
    background: white;
    margin: 10px 20px;
    border-radius: 20px;
}


