.container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.addContainer {
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    margin-right: 20px;
    transition: border-color 0.3s ease-in-out;
}

.uploadLabel {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.uploadLabel:hover {
    background-color: rgba(159, 159, 159, 0.3);
}

.uploadLabel::before {
    content: "📷";
    font-size: 18px;
}

input[type="file"] {
    display: none;
}