.container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.addContainer {
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    width: 230px;
    transition: border-color 0.3s ease-in-out;
}


input[type="file"] {
    display: none;
}


.uploadBtn {
    display: inline-block;
    background-color: #ffd876;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.uploadBtn:hover {
    background-color: #fa902f;
}

.uploadBtn:active {
    background-color: #ff7c0d;
}


.uploadLabel {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.uploadLabel:hover {
    background-color: rgba(159, 159, 159, 0.3);
}

.uploadLabel::before {
    content: "📁";
    font-size: 18px;
}