
/* 입력 필드 스타일 */
.addScheduleContainer input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* 버튼 스타일 */
.addScheduleContainer button {
    background-color: #F6D6D6;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.addScheduleContainer button:hover {
    background-color: #ce9090;
}

.scheduleTitle{
    width: 450px;
}
