/* 전체 컨테이너 스타일 */
.container {
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8f8f8;
}

.title {
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    color: white;
    margin-bottom: 15px;

}

/* 일정 입력 폼 스타일 */
.diaryContainer{
    width: 90%;
    background: #F6D6D6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
}

.whiteContainer {

    background: white;
    margin: 10px 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;

}
