/* 일정 리스트 스타일 */
.scheduleList {
    margin-top: 20px;
    width: 85%;
}

.scheduleList h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.scheduleList p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #aaaaaa;
    text-align: center;

}

/* DayX 헤더 스타일 */
.dayGroup {
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
}

/* 일정 항목 스타일 */
.scheduleItem {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    gap: 10px;
}
.scheduleItem input{
    width: 160px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.scheduleItem button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #555;
    transition: color 0.2s ease;
    width: 80px;
}

.scheduleItem button:hover {
    color: #d9534f;
}

.titleDateContainer{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 20px;
}

.buttonContainer{
    width: 20%;
}