/* 전체 컨테이너 스타일 */
.container {
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f8f8f8;

}

.diaryContainer{
    width: 90%;
    background: #F6D6D6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
}

.title {
    font-size: 45px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.whiteContainer {
    background: white;
    margin: 10px 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fixContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: linear-gradient(
            to bottom,
            white,
            rgba(255, 255, 255, 0.98)
    );
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 0 25px;
    width: 60%;
}

.beforeComment {
    font-size: 25px;
    color: #aaaaaa;
}

.read-only {
    position: relative;
    width: 100%; /* 부모의 너비를 채우도록 설정 */
    
    &:after {
      content: "읽기 전용 모드";
      position: absolute;
      right:5px;
      /* 나머지 스타일은 그대로 */
    }
  
    
    /* 읽기 전용 모드에서 버튼 스타일 */
    :global {
      button[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
        background-color: #e9ecef;
        color: #6c757d;
      }
      
      input[disabled],
      textarea[disabled] {
        background-color: #f8f9fa;
        border-color: #ced4da;
        color: #6c757d;
        cursor: not-allowed;
      }
    }
  }
.saveBtn{
    display: inline-block;
    background-color: #eeb1b1;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;

}

.saveBtn:hover {
    background-color: #e07878;
}

.modifyBtn {
    display: inline-block;
    background-color: #eeb1b1;
    color: white;
    border: none;
    width: 70px;
    height: 40px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.modifyBtn:hover {
    background-color: #e07878;
}